@font-face
	font-family:"miFuente";
	src:url('../fonts/sfotipy/sfotipy.eot'), url('../fonts/sfotipy/sfotipy.svg'), url('../fonts/sfotipy/sfotipy.ttf'), url('../fonts/sfotipy/sfotipy.woff'); 

body
	width: 100%
	height: 100%
	font-size: 16px;

.main-wrapper
	width:100%
	height:100%

.layout
	background: url('../img/sfotip_top-16.jpg') no-repeat center center
	background-size:100% 100%
	background-size: cover
	-webkit-background-size: cover
	-moz-background-size: cover
	-o-background-size: cover
	height: 100%

header
	width:75%
	height:8em
	margin: 0 auto
	position:relative
	top: 2em
	

.logo
	background: url('../img/logo.png') no-repeat
	height: 6em
	width: 15em

.texto-rosado
	font-family: 'miFuente', arial, sans-serif;
	margin-top: 0.5em
	color: #CC2F6F

.login-text
	font-size:1.25em
	margin-top:1em

.left
	position: relative
	float: left
	

.right
	position: relative
	float: right

.layout-content
	margin-top: 3.5em
	height: auto
	width: 100%
	text-align:center 

.layout-content-info
	font: normal 3.5em 'miFuente', arial, sans-serif;
	color: white
	width: auto
	margin: 0 auto
	letter-spacing: -4px;

.fb-button
	font-family: 'miFuente', arial, sans-serif;
	background-color: #43609C
	color: white
	margin: 0 auto
	margin-top: 3em
	border-radius: 0.3em
	width: 20em
	height: 3.5em

.fb-button-icon
	top:0.25em
	left:0.75em
	font-size: 1.8em
	border-right: #3C403F solid 1.5px
	padding-bottom: 0.25em
	padding-top: 0.25em
	padding-right: 0.3em

.fb-button-info 
	top: 1.25em
	right: 3.5em

.tw-button
	font-family: 'miFuente', arial, sans-serif;
	background-color: #0084B4
	color: white
	margin: 0 auto
	margin-top: 1em
	border-radius: 0.3em
	width: 20em
	height: 3.5em

.tw-button-icon
	top:0.25em
	left:0.75em
	font-size: 1.8em
	border-right: #3C403F solid 1.5px
	padding-bottom: 0.25em
	padding-top: 0.25em
	padding-right: 0.3em

.tw-button-info 
	top: 1.25em
	right: 4.7em

.create-account
	color: white
	margin: 0 auto
	font-size:1.25em
	margin-bottom:2em